*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Original Surfer', cursive;
}

body{
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.container{
  width: 80%;
  margin: auto;
  background-color: red;
}

.box{
    text-align: center;
  margin-top: 50px ;
  margin-left: 10px;
  margin-right: 10px;
  width: 48%;
  height: 550px;
  background-color: white;
  border-radius: 10px;
  background-size: cover;
}

.dx-app{
  background-image: url(../img/spesa.jpg);
}

.sx-app{
  background-image: url(../img/viaggi1.jpg);
}

h1{
  color:black;
  text-align: center;
  margin-top: 100px;
}

input{
  width: 70%;
  text-align: center;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border:0;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

input:hover{
  background-color: white;
}


p{
  margin-left: 50px;
}

ul{
  list-style: none;
}


ul li{
  margin-top: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
}


i{
  opacity: 0.8;
  margin-right: 20px;
}

i:hover{
  opacity: 1;
  color: darkred;
  cursor: pointer;
}


.fa-recycle{
  font-size: 20px;
}
